/* Genel stiller */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Arka plan rengi */
}

/* Header için stil */
header {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-and-title {
  display: flex;
  align-items: center;
}

#logo-and-title h1 {
  margin-left: 1rem;
}

/* Form için stil */
form {
  margin: 2rem;
  background-color: #fff; /* Formun arka plan rengi */
  padding: 1rem;
  border-radius: 8px; /* Kenar yuvarlaklığı */
}

.character-limit {
  margin-left: 1rem;
}

/* Ana konteyner için stil */
#main-container {
  display: flex;
}

/* Sol panel için stil */
#left-panel {
  width: 20%;
  border-right: 1px solid #ccc;
  padding: 1rem;
  background-color: #f9f9f9; /* Sol panelin arka plan rengi */
}

#left-panel button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 4px; /* Buton kenar yuvarlaklığı */
}

#left-panel button:hover {
  background-color: #555;
}

/* Orta panel için stil */
#middle-panel {
  width: 80%;
  padding: 1rem;
}

.fact-card {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem;
}

.vote-button {
  margin-right: 1rem;
}
